/*** General Rulesets ***/
header {
    margin: 0;
    top: 0;
    z-index: 2;
    position: sticky;
    width: 100%;
    background-color: white;
    padding: 8px 0;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #444;

}

.navlist {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navitem {
    list-style-type: none;
    padding: 4px;
}

.navlink {
    text-decoration: none;
    color: #444;
}

.navlink:hover {
    opacity: 0.7;
}

.nav-active {
    border-bottom: 2px solid;
    padding-bottom: 8px;
}

.nav-active:hover {
    opacity: 1;
}


/*** Media Queries ***/


@media (min-width: 300px) and (max-width: 768px){
    .header{
        margin: 0 16px;
    }
    .desktop{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .header {
        margin: 0 24px;
    }

    .mobile {
        display: none;
    }
}

@media (min-width: 1201px) {
    .header {
        margin: 0 48px;
    }

    .mobile {
        display: none;
    }
}