.services {
    color: #444;
    background-color: #fff;

}

.services .main-text {
    font-size: 1.2em;
    margin-left: 16px;
}

.services .card-holder {
    margin-top: 24px;
}

.card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 16px;
}


img,
.content {
    max-width: 100%;

}

.content {
    font-size: 1em;
}

.services a {
    text-decoration: none;
    display: inline-block;
    color: rgba(0, 0, 255, 0.7);
}

.services a:hover,
.services .fas:hover {
    text-decoration: underline;
}

/*** Media Queries ***/

@media (min-width: 426px) and (max-width: 600px) {

    img,
    .content {
        max-width: 80%;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

    img {
        width: 55%;

    }

    .content {
        width: 45%;
        align-self: center;
    }

    .card {
        justify-content: space-between;
        align-content: center;
    }

    .services .main-text {
        font-size: 1.4em;
        margin-left: 2%;
    }

    .content {
        font-size: 1.2em;
    }
}

@media (min-width: 769px) {
    .services .main-text {
        font-size: 1.6em;
        margin-left: 4%;
    }

    img {
        max-width: 40%;

    }

    .content {
        width: 50%;
        align-self: center;
    }

    .card {
        justify-content: center;
        align-content: center;
    }

    .content {
        font-size: 1.4em;
    }
}
@media (min-width: 1200px) {
    

    img {
        max-width: 20%;

    }

    .content {
        width: 40%;
        align-self: center;
    }

    .card {
        justify-content: center;
        align-content: center;
    }

    .content {
        font-size: 1.4em;
    }
}