/* General Ruleset */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

.small-advert {
    background-color: #222;
    padding: 32px;
}

.small {
    margin: 0;
}

.small-advert .main-text {
    color: #fff;
    font-size: .9em;
    margin-left: 0;
    display: inline-block;

}

.small-advert a {
    background-color: #fff;
    padding: 12px;
    color: #222;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    display: inline-block;
    margin-left: 0px;
}

.small-advert a:hover {
    opacity: .8;
}

/*** Media Queries ***/

@media (min-width: 769px) {
    .small-advert .main-text {
        margin-left: 8%;
        font-size: 1.4em;
    }

    .small-advert a {
        margin-left: 8%;
        font-size: 1.2em;
    }

}